html,
body {
  height: 100%;
  background-color: rgb(230, 227, 227);
  padding: 0;
  margin: 0;
  font-family: sans-serif !important;
}

@font-face {
  font-family: "Material Icons";
  src: local("Material Icons"), local("MaterialIconsOutlined-Regular"),
  url("../../../assets/font/MaterialIconsOutlined-Regular.otf") format("woff2");
}

.material-icons {
  font-family: "Material Icons";
}

